{% extends "mychatapp/base.html" %}
{% block content %}
{% load static %}

    <div class="chat-container">
        <div class="main">
            <div class="logo">
                Chat
            </div>

            <div class="sub-main">
                <div class="main-user">
                    {% if user.pic %}
                        <img src="{{ user.pic.url }}" alt="profile picture">
                    {% else %}
                        <!-- Display a placeholder or default profile picture -->
                        <img src="{% static 'img/default_profile_pic.png' %}" alt="default profile picture">
                    {% endif %}
                </div>
                <p>@{{ user.user.username }}</p>
            </div>

        </div>

        <div class="header">Messages</div>

        <div class="friends-container">
            {% for friend in friends %}
            <a href="{% url 'detail' friend.profile.id %}" style="color:black; text-decoration:none">
                <div class="friends">
                    <div class="pic">
                        {% if friend.profile.pic %}
                            <img src="{{ friend.profile.pic.url }}" alt="{{ friend.profile.name }} profile picture"/>
                        {% else %}
                            <img src="{% static 'images/default_profile_pic.png' %}" alt="Default profile picture"/>
                        {% endif %}
                    </div>
                    <div class="name">
                        <h5>{{ friend.profile.name }}</h5>
                    </div>
                    <div class="time_new_msg">

                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <script>
        setInterval(getNotification, 1000)

        function getNotification(){
            let url = "{% url 'notification' %}"

            fetch(url)
            .then(res => res.json())
            .then(data => {
                console.log(data)
                let chatNotificationBtn = document.getElementsByClassName("msg")
                for(let i = 0; i<data.length; i++){
                    chatNotificationBtn[i].innerText = data[i]
                }
            })
            .catch(error => console.log(error))
        }
    </script>

{% endblock %}
