<blockquote id="{{ comment_detail.id }}">
    <p> {{ comment_detail.body }}</p>
    <br></br>
    Score: <b> {{ comment_detail.score }} </b>
    <a href="{% url 'upvote_comment' comment_detail.id 'U' %}">Upvote</a>
    <a href="{% url 'upvote_comment' comment_detail.id 'D' %}">Downvote</a>
    Submitted By: <b>{{ comment_detail.user.username }}</b>
    Date: <b>{{  comment_detail.timestamp}}</b>


    <!--allow replies for comments-->
    <blockquote id="reply-form-{{ comment_detail.id }}" class="reply-form-container" style=:"display: none;">
        <form method="POST" action="/reply/" class="reply-form">
            {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.id }}"/>
            <input type="hidden" name="parent" value="{{ comment_detail.id }}"/>
            {{ reply.body }}  <!--get from the reply form-->
            <button type="button" class="cancel-button">Cancel</button>
            <input type="submit" class="reply-button" value="Send"/>
            {% if user.is_authenticated %}
            <!-- Delete button for authenticated users -->
            {% if user.id == comment_detail.user.id %}
                <button class="delete-comment">Delete</button>
            {% endif %}
        {% endif %}
        </form>
    </blockquote>

    <!--list all the replies under specific parent comment-->
    {% for replies in comment_detail.get_comment %}
        {% include 'comments.html' with comment_detail=replies %}
        <!--suck at naming...-->
    {% endfor %}

</blockquote>
