<blockquote id="{{ comment_detail.id }}">
    <p> {{ comment_detail.body }}</p>
    <br></br>
    Score: <b> {{ comment_detail.score }} </b>

    {% if not comment_detail in comment_vote_list %}
           
    <a href="{% url 'upvote_comment' comment_detail.id 'U' %}" class="vote-btn upvote-btn">Upvote</a>
    <a href="{% url 'upvote_comment' comment_detail.id 'D' %}" class="vote-btn downvote-btn">Downvote</a>

    {% else %}
        {% for vote in user_votes %}
        {% if vote.comment == comment_detail %}
            {% if vote.vote_type == 'U' %}
                <a href="{% url 'upvote_comment' comment_detail.id 'U' %}" class="vote-btn upvote-btn--undo">Undo Upvote</a>
                <a href="{% url 'upvote_comment' comment_detail.id 'D' %}" class="vote-btn downvote-btn">Downvote</a>
            {% endif %}
            {% if vote.vote_type == 'D' %}
            <a href="{% url 'upvote_comment' comment_detail.id 'U' %}" class="vote-btn upvote-btn">Upvote</a>
            <a href="{% url 'upvote_comment' comment_detail.id 'D' %}" class="vote-btn downvote-btn--undo">Undo Downvote</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {%endif%}

    Submitted By: <a href="{% url 'user_profile' comment_detail.user.id %}"><b>{{ comment_detail.user.username }}</b></a>
    Date: <b>{{  comment_detail.timestamp}}</b>

    {% if user.is_authenticated and comment_detail.user.username == user.username %}
        <a style="color: red" href="{% url 'delete_comment' comment_detail.id 'delete' 'delete' %}">Delete Comment</a>
    {% endif %}


    <!--allow replies for comments-->
    <blockquote id="reply-form-{{ comment_detail.id }}" class="reply-form-container" style=:"display: none;">
        <form method="POST" action="/reply/" class="reply-form">
            {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.id }}"/>
            <input type="hidden" name="parent" value="{{ comment_detail.id }}"/>
            {{ reply.body }}  <!--get from the reply form-->
            <button type="button" class="cancel-button">Cancel</button>
            <input type="submit" class="reply-button" value="Send"/>
            {% if user.is_authenticated %}
            <!-- Delete button for authenticated users -->
            {% if user.id == comment_detail.user.id %}
                <button class="delete-comment">Delete</button>
            {% endif %}
        {% endif %}
        </form>
    </blockquote>

    <!--list all the replies under specific parent comment-->
    {% for replies in comment_detail.get_comment %}
        {% include 'comments.html' with comment_detail=replies %}
        <!--suck at naming...-->
    {% endfor %}

</blockquote>
