<blockquote id="{{ comment_detail.id }}">
    <p> {{ comment_detail.body }}</p>
    <br></br>
    Score: <b> {{ comment_detail.score }} </b>

    {% if not comment_detail in comment_vote_list %}
           
    <a href="{% url 'upvote_comment' comment_detail.id 'U' %}" class="vote-btn upvote-btn"><i class="fa-regular fa-thumbs-up"></i></a>
    <a href="{% url 'upvote_comment' comment_detail.id 'D' %}" class="vote-btn downvote-btn"><i class="fa-regular fa-thumbs-down"></i></a>

    {% else %}
        {% for vote in user_votes %}
        {% if vote.comment == comment_detail %}
            {% if vote.vote_type == 'U' %}
                <a href="{% url 'upvote_comment' comment_detail.id 'U' %}" class="vote-btn upvote-btn--undo"><i class="fa-solid fa-thumbs-up"></i></a>
                <a href="{% url 'upvote_comment' comment_detail.id 'D' %}" class="vote-btn downvote-btn"><i class="fa-regular fa-thumbs-down"></i></a>
            {% endif %}
            {% if vote.vote_type == 'D' %}
            <a href="{% url 'upvote_comment' comment_detail.id 'U' %}" class="vote-btn upvote-btn"><i class="fa-regular fa-thumbs-up"></i></a>
            <a href="{% url 'upvote_comment' comment_detail.id 'D' %}" class="vote-btn downvote-btn--undo"><i class="fa-solid fa-thumbs-down"></i></a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {%endif%}

    Submitted By: <a href="{% url 'user_profile' comment_detail.user.id %}"><b>{{ comment_detail.user.username }}</b></a>
    Date: <b>{{  comment_detail.timestamp}}</b>

    {% if user.is_authenticated %}
    <button class="reply-button" onclick="handleReplyButton({{ comment_detail.id }})"><i class="fa-solid fa-reply"></i></button>
    {%endif%}

    {% if user.is_authenticated and comment_detail.user.username == user.username %}
        
        <button onclick="handleEditButton({{ comment_detail.id }})" id="edit-comment-btn-{{ comment_detail.id }}"><i class="fa-regular fa-pen-to-square"></i></button> <!-- Add edit button -->
        <button><a href="{% url 'delete_comment' comment_detail.id 'delete' 'delete' %}"><i class="fa-solid fa-trash" style="color: #000000;"></i></a></button>
        <form id="edit-comment-form-{{ comment_detail.id }}" style="display: none;" method="POST" action="{% url 'edit_comment' comment_detail.id %}" class="respond-form">
            {% csrf_token %}
            <textarea name="body">{{ comment_detail.body }}</textarea> <!-- Textarea to edit comment -->
            <button type="submit" value="Send" class="submit-button"><i class="fa-solid fa-check"></i></button>
        </form>
    {%endif%}
    {% if user.is_authenticated %}
        <!-- JavaScript code for toggling edit form -->
        <script>
            // Get references to DOM elements
            
            // Function to toggle between displaying comment text and comment edit form
            function handleEditButton(c_id) {
                const editForm = document.getElementById('edit-comment-form-' + c_id);

                if (editForm) {
                    if (editForm.style.display === 'none' || editForm.style.display === '') {
                        editForm.style.display = 'block';
                    } else {
                        editForm.style.display = 'none';
                    }
                }
                
            }

            function handleReplyButton(commentID) {
                const commentFormContainer = document.getElementById('reply-form-' + commentID);
                if (commentFormContainer) {
                    if (commentFormContainer.style.display === 'none' || commentFormContainer.style.display === '') {
                        commentFormContainer.style.display = 'block'; // Show the reply form
                    } else {
                        commentFormContainer.style.display = 'none'; // Hide the reply form
                    }
                }
            }

            function handleCancelReply(commentID) {
                const commentFormContainer = document.getElementById('reply-form-' + commentID);
                if (commentFormContainer) {
                    commentFormContainer.style.display = 'none'; // Hide the reply form
                }
            }
        </script>
    {% endif %}

    

    <!--allow replies for comments-->
    <blockquote id="reply-form-{{ comment_detail.id }}" class="reply-form-container" style="display: none;">
        <form id = "reply-form-1-{{ comment_detail.id }}" method="POST" action="/reply/{{ post.id }}" class="reply-form">
            {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.id }}"/>
            <input type="hidden" name="parent" value="{{ comment_detail.id }}"/>
            <!-- {{ reply.body }}  get from the reply form -->
            <textarea id="reply-body-{{ comment_detail.id }}" name="body"></textarea>
            <input type="hidden" id="suggestion-used-input-{{ comment_detail.id }}" name="suggestion_used">
            <input type="submit" class="reply-button" value="Send"/>
            {% if user.is_authenticated %}
            <!-- Delete button for authenticated users -->
            {% if user.id == comment_detail.user.id %}
                
                <button class="cancel-button" onclick="handleCancelReply({{ comment_detail.id }})">Close</button>
            {% endif %}
            
        {% endif %}
        </form>
    </blockquote>

    <!--list all the replies under specific parent comment-->
    {% for replies in comment_detail.get_comment %}
        {% include 'comments.html' with comment_detail=replies %}
        <!--suck at naming...-->
    {% endfor %}

</blockquote>

