<nav class="navbar">
    <div class="main-menu">
        <ul>
            <li>
                <a class = "project-x-btn" href="{% url 'home' %}"><b>project x</b></a>
            </li>
            {% if current_page == 'topic_detail' %}
            <li class="current-topic">
                <span>{{ topic.name }}</span>
            </li>
            {% endif %}
            <li>
                {% include 'topic_selection.html' %}
                
            </li>
            <li>
                {% include 'post_selection.html' %}
            </li>
            <li>
                {% include 'user_selection.html' %}
            </li>
            <li>
                {%include 'ordering.html' %}
            </li>
            {% if current_user.is_authenticated %}      
        
            <li>
                <a href="{% url 'create_topic' %}">Create a Topic</a>
            </li>
            {% endif %}

        </ul>
    </div>
    <div class="user-menu">
        <ul>
            {% if current_user.is_authenticated %}
            <li class="user-dropdown">
                <button class="username-btn">{{ current_user.username }} <i class="fas fa-caret-down"></i></button>
                <span class="karma">Karma {{ current_user.userprofile.karma }}</span>
                <ul class="submenu">
                    <li><a href="{% url 'my_profile' %}">My Profile</a></li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                </ul>
            </li>
            

            {% else %}
            <li>
                <a href="{% url 'login' %}">Log in</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}


        </ul>
    </div>

</nav>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var usernameBtn = document.querySelector(".username-btn");
        var submenu = document.querySelector(".submenu");

        usernameBtn.addEventListener("click", function() {
            submenu.classList.toggle("show");
        });

        // Close the submenu when clicking outside of it
        window.addEventListener("click", function(event) {
            if (!event.target.matches(".username-btn")) {
                submenu.classList.remove("show");
            }
        });
    });
</script>