{% extends './base.html' %}
{% block post %}
<div id="filteredPosts">
    {% for post in filtered_posts %}
    <div class="post-container">
        <div class="post-list-item">
            <h1 class="post-list-title">
                {{ post.title }}
            </h1>
            <b>r/{{ post.topic.name }}</b>
            <p>{{ post.body }}</p>
            <br>
            Score: <b>{{ post.score }}</b>
            {% if not post in post_vote_list %}
           
           
            <a href="{% url 'upvote_post' post.id 'U' %}" class="vote-btn upvote-btn"><i class="fa-regular fa-thumbs-up"></i></a>
            <a href="{% url 'upvote_post' post.id 'D' %}" class="vote-btn downvote-btn"><i class="fa-regular fa-thumbs-down"></i></a>
       
            {% else %}
            {% for vote in user_votes %}
            {% if vote.post == post %}
                {% if vote.vote_type == 'U' %}
                    <a href="{% url 'upvote_post' post.id 'U' %}" class="vote-btn upvote-btn--undo"><i class="fa-solid fa-thumbs-up"></i></a>
                    <a href="{% url 'upvote_post' post.id 'D' %}" class="vote-btn downvote-btn"><i class="fa-regular fa-thumbs-down"></i></a>
                {% endif %}
                {% if vote.vote_type == 'D' %}
                    <a href="{% url 'upvote_post' post.id 'U' %}" class="vote-btn upvote-btn"><i class="fa-regular fa-thumbs-up"></i></a>
                    <a href="{% url 'upvote_post' post.id 'D' %}" class="vote-btn downvote-btn--undo"><i class="fa-solid fa-thumbs-down"></i></a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {%endif%}
        

            Submitted By: <a href="{% url 'user_profile' post.author.id %}"><b>{{ post.author.username }}</b></a>
            Date: <b>{{ post.timestamp }}</b>          
            Views: <b>{{post.num_views}}</b>
            <a href="{% url 'post_detail' post.id %}">View Comments</a>
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}
