{% extends './base.html' %}

{% block post %}
<div class="create-topic-Page">
    <h2 class="create-title">Create a Topic</h2>
    <form method="POST" action="" class="Topic-form">
        {% csrf_token %}
        <div class="fields">
            <label for="{{ Topic.name.id_for_label }}">Name</label>
            {{ form.name }}
            <span class="error">{{ form.name.errors }}</span>
        </div>
        <br></br>
    <input type="submit" value="Submit" class="submit-button"/>
    </form>
</div>

{% endblock %}